

body{
    background: rgb(238, 250, 255);
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
/* app v3 -> release3 start */
h3{
    background-color: skyblue;
    margin: 10px 0;
}